@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    padding-bottom:30px;
    background: #263238;
    color:white;
}
.navbar{
    width:59vw;
    margin:0 auto;
  
}


.nav-items{
    float:right;
    list-style-type:none;
    margin-top: 20px;
}

.nav-item{
    display:inline;
    margin-right:5px;
 
}

.nav-item a{
    text-decoration: none;
    color:white;

}

.nav-item a:hover{
    border-bottom:1px solid white;
}


.logo{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color:white;
    font-weight: 700;
    font-size:larger;
}

/*##################################### Contact page ############################*/
body{
    background-color: #ddd;
}

.section1{
    width:75%;
    margin:0 auto;
}

.container{
    padding:60px 0;
}


.contact-info{
    background:white;
    display:inline-block;
    width:45%;
    height:588px;
    padding:5px;
}
.contact-info h2{
    display:inline-block;
}

.fas,.far{
    color:red;
}
.input{
    width:100%;
}

.message{
    height:167px;
}
span{
    color:red;
}

.info-img{
   
    height:300px;
}

.contact-form{
    background:white;
    padding:5px;
    width:45%;
    display:inline-block;
    height:588px;
    
 
}

.form-header{
    border-bottom: 4px solid red;
}


.submit-button{
    font-weight:700;
    color:white;
    padding:10px 45px;
    background-color:red;
    
}

.button{
    text-align: center;
}